.roomInputForm{
    display: flex;
    border-top: 2px solid #D3D3D3;
    width: 100%;
    border: green solid 10px;
    justify-content: flex-bottom;
    
}

.roomInput{
    border: none;
    border-radius: 0;
    padding: 20px;
    width: 80%;
    font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
    outline: none;
  }

.roomButtons{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #7be4ee;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
}